{{textarea value=string placeholder="Text to encrypt"}}
<br/>
{{input type="text" value=pass placeholder="Passphrase"}}
<br/>
<button {{action 'go'}}>Go!</button>

<br/>

{{{output}}}
<br/>
<br/>
Public key:
<br/>
{{{key}}}
<br/>
{{#copy-button
  clipboardText=_key
  success=(action 'success')
  error=(action 'error')
}}
  Click To Copy
{{/copy-button}}

{{spinning-loader hidden=loaderHidden}}