{{textarea value=string placeholder="Text to encrypt"}}
<br/>
<button {{action 'go'}}>Go!</button>

<div class='output'>
  <div class='section'>
    <b>Output:</b>
    <br/>
    {{output}}
  </div>

  <div class='section'>
    <b>Public key:</b>
    <br/>
    {{key}}
  </div>
</div>

{{spinning-loader hidden=loaderHidden}}