{{textarea value=_string placeholder="Text to sign"}}
<br/>
<button {{action 'go'}}>Go!</button>

<div class='output {{color}} {{outputClass}}'>
  {{#copy-button clipboardText=_string   success=(action 'copied') error=(action 'copyError')}}
    <b>Original text:</b>
    <br/>
    {{string}}
  {{/copy-button}}

  {{#copy-button clipboardText=signature success=(action 'copied') error=(action 'copyError')}}
    <b>Signature:</b>
    <br/>
    {{signature}}
  {{/copy-button}}

  {{#copy-button clipboardText=_key      success=(action 'copied') error=(action 'copyError')}}
    <b>Public key:</b>
    <br/>
    {{key}}
  {{/copy-button}}
</div>

{{spinning-loader hidden=loaderHidden}}
